*{
	margin: 0px;
	padding: 0px;
}
/* contenedores div */
#cajon1
{
	margin: auto;
	margin-top: 10px;
	width: 1340px;
	height: 800px;
	background-color: white;
}
#cajon2
{
	float: right;
	width: 325px;
	height: 800px;
	background-color: black;
}
#cajon3
{
	width: 1200px;
	height: 200px;
	background-color: white;
}
#cajon4
{

	margin-top: 20px;
	width: 1000px;
	height: 580px;
	background-color: #3A3A3B;
}
#cajon5
{
	margin: auto;
	margin-top: 15px;
	width: 300px;
	height: 380px;
	background-color: #C7C4C2;
}
#cajon6
{
	margin: auto;
	margin-top: 20px;
	height: 59px;
	background: black;
	color: white;
}
#cajon7
{
	margin: auto;
	margin-top: 20px;
	width: 300px;
	height: 300px;
	background: #C7C4C2;
}

#cajon8
{
	float: right;
	width: 100;
}


/* imagen del logotipo*/
#img
{
	float: left;
	margin-top: 5px;
	width: 400px;
	height: 190px;
}
/* diseño del muenu principal*/
#menu
{
	float: right;
	list-style: none;
	padding: 10px;
	background: black;
	width: 45%;
	max-width: 1000px;
	margin: auto;
}
#menu li a
{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}
#menu li
{
	display: inline-block;
	text-align: center;
}
#menu li a:hover
{
	background: #5A5B5C;
}
#title
{
	margin: auto;
	float: left;
	font-family: Arial;
}

#buscador
{
	margin-top: 10px;
	height: 30px;
	width: 400px;
}
/* diseño del menu numero dos*/

#menu2 ul
{
	list-style: none;
}
#menu2 #item
{
	float: left;
}
#menu2 #item a
{
	background: #5A5B5C;
	color: white;
	padding: 15px 20px;
	display: block;
	font-family: arial;
	font-size: 9px;
	text-decoration: none;
	width: 70%;
}
/* cierre del diseño del menu numero 2*/

#menu2 #item a:hover
{
	background: black;
	color: #0CD2D2 ;

}
#menu2 #desple
{
	display: none
}
#menu2 #item:hover #desple
{
	display: block;
}

/* menu desplegable numero 1 */

#cajon3 #desple2
{
	display: none;
}
#cajon3 #item2:hover #desple2
{
	display:block;
}
#cajon3 #item2 a:hover
{
	background: black;
	color: #0CD2D2;
}
.button{
	float: right;
	margin-top: 3px;
	border:none;
	width: 20%;
	color: white;
	font-size: 20px;
	background: DeepSkyBlue;
	padding: 15px 2px;
	border-radius: 6px;
	cursor: pointer;
}
.button:hover{
    background: azure;
}
#cajon6 a
{
	text-decoration: none;
	margin-top: 3px;
	border:none;
	width: 20%;
	color: white;
	font-size: 15px;
	background: DeepSkyBlue;
	padding: 15px 2px;
	border-radius: 6px;
	cursor: pointer;
}
#cajon6 a:hover{
    background: azure;
}

#cajon4 #imagen1 
{
	background-color: black;
	width: 333px;
	height: 520px;
	float: left;

}
#cajon4 #imagen2
{

	background-color: black;
	width: 333px;
	height: 520px;
	float: left;

}
#cajon4 #imagen3
{
	background-color: black;
	width: 333px;
	height: 520px;
	float: left;

}